*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json

/tools/seed-devices/node_modules/
/tools/seed-devices/README.md

# FIREBASE ADMIN KEYS
**/service-account*.json
